body {
  max-height: 603px;
  max-width: 901px;
  margin: 0 auto;
}

.delicious {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.smalltext {
  font-size: 10px;
  font-color: rgb(204, 204, 179);
  margin-top: 0px;
  margin-bottom: 0px;

}

.chocopizzatext {
  font-family: Roboto:400,700;
  font-size: 40px;

}

.introtext {
  text-indent: 20px;
}

.sharerecipe {
  font-family: Roboto:400,700;
  font-size: 15px;
  color: rgb(255, 255, 255);
  align-content: center;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;

}

ul {
  list-style-type: square;
}

li {
  font-family: Exo;
  list-style-type: square;
}

.navagation, .chocopizzadiv {
  border-bottom-style: dotted;
  border-color: rgb(204, 204, 179);
  padding-bottom: 10px;
}

.navagation, .chocopizzadiv {
margin: 0 auto;
display: flex;
justify-content: space-between;
}

.navagation1 {
  width: 300px;
}

.navagation2 {
  float: right;
  display: flex;
  align-items: flex-end;
}

.pizza1 {
  width: 300px;
  align-items: baseline;
}

.pizza2 {
  float: right;
  display: flex;
  align-items: flex-end;
}

.aboutauthor {
  border-top-style: dotted;
  border-color: rgb(204, 204, 179);
  display: flex;
  justify-content: space-between;
}

.sharerecipediv {
  border-top: hidden;
  border-left: hidden;
  border-bottom: hidden;
  border-right: hidden;
  background-color: rgb(255, 51, 51);
  max-width: 150px;
  max-height: 300px;
}

.pizzaimg {
  padding-top: 10px;
}

.footer {
  align-items: center;
}

.recipe {
  background-image: <img src="images/list-bg.png" alt="Recipie background." />;
  display: flex;
  justify-content: space-between;
}
